[Unit]
Description = The SwatchRig photo daemon
After = network.target

[Service]
Type = simple
ExecStartPre=/bin/sleep 2
ExecStart = /home/pi/app/.venv/bin/python /home/pi/app/main.py
User = pi
Group = pi
Restart = always
SyslogIdentifier = swatchrig
RestartSec = 5
TimeoutStartSec = infinity

[Install]
WantedBy = multi-user.target
